@charset "utf-8";
img { border-style: solid;
  border-width: medium;
  border-radius: 10px;
	margin-right: auto;
	display: block;
	margin-left: auto;	
}
p {

	
}
h2 { text-align: center;
	color: steelblue;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:lightskyblue;
}

li{
	float: left;
	
}
li a { 
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
}


body { 
background-color: crimson; 

}

p {
    width: 330px;
    padding: 50px;
    border: 5px solid black;
    margin: 50px;
    color: aliceblue;
    font-weight: bold;
	
	

}
